@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Example ASP NET CORE for SOUTHWORKS TEST</h2>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <h3>This is a example of asp net core with entity framework Code First with migrations</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        In this example there are models for
        <ul>
            <li>Students</li>
            <li>Department</li>
            <li>Enrollment</li>
            <li>Instructors</li>
            <li>Deparments</li>
        </ul> 
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        In this example there is a CRUD for
        <ul>
            <li>Students</li>
            <li>Enrollments (To Continue)</li>

        </ul> 
    </div>
</div>
